body{
text-align: center;
  background-color: white;
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #444;
}



#header li {
  list-style-type: none;
  display:inline;
  margin: 0 10px;
 text-decoration: none;
  
}
#q{
margin: 0;
background-color: palegreen
}
